@import "tailwindcss";

@theme {
  --color-primary: #001e40;
  --color-primary-fixed: #d5e3ff;
  --color-secondary: #0059bb;
  --color-secondary-fixed: #d8e2ff;
  --color-surface: #fcf9f8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container-highest: #e5e2e1;
  --color-on-surface: #1c1b1b;
  --color-on-surface-variant: #43474f;
  --color-outline-variant: #c3c6d1;
}

body {
  margin: 0;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
